body {
  background-image: linear-gradient(lightblue, rgb(137, 178, 192));
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 100%;
}

nav.wide {
  display: block;
}
nav.thin {
  display: none;
}

img {
  float: left;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
    font-size: 120%;
  }

  nav.wide {
    display: none;
  }
  nav.thin {
    display: block;
  }

  .slideshow {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

  img.mySlides {
    width: 95%;
  }

  div.school-logo {
    margin: 0px 0px 0px 15px;
    display: inline-block;
    font-size: 0.625em;
  }

  h1.maintitle {
    margin-top: 50px;
  }

  img.school-logo {
    float: none;
  }

  div.inline-block {
    width: 80%;
  }
}

/* Basics */

h1 {
  text-align: center;
  color: rgb(92, 92, 189);
}
h1.maintitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 300%;
  white-space: nowrap;
}

h2 {
  display: block;
  background: rgb(126, 157, 168);
  padding: 5px;
  margin: 10px;
  border-radius: 5%;
}

p {
  display: inline;
  background-color: antiquewhite;
  padding: 10px 15px 10px 15px;
  line-height: 35px;
  white-space: normal;
  text-align: center;
}

ul {
  list-style: none;
  padding: 10px 0px 10px 0px;
}

.paragraph-background {
  background: antiquewhite;
  padding: 10px;
  display: block;
}

/* Topnav */

.school-logo {
  margin: 0px 0px 0px 10%;
  display: inline-block;
}

.topnav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  display: inline;
  padding: 10px 10px 10px 10px;
}
.topnav:hover, .topnav:active {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
li.topnav {
  display: inline;
}

nav {
  background-color: antiquewhite;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(10px)
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover li.options {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
.dropdown:active .dropdown-content {
  display: block;
}
.dropdown:active li.options {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
.dropdown-content li {
  display: block;
  background-color: antiquewhite;
}
.dropdown-content ul {
  background-color: antiquewhite;
}

.topmargin {
  padding-top: 25px;
  padding-bottom: 0px;
}

div.inline-block {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.slideshow {
  margin: 10px;
}

img.mySlides {
  width: 49%;
}