body {
  background-color: lightblue;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 100%;
}

nav.wide {
  display: block;
}
nav.thin {
  display: none;
}

@media only screen and (max-width: 900px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
    font-size: 120%;
  }

  nav.wide {
    display: none;
  }
  nav.thin {
    display: block;
  }

  .sidecontent {
    display: block;
  }
}

/* Basics */

h1 {
  text-align: center;
  color: rgb(92, 92, 189);
}
h1.maintitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  display: block;
  white-space: nowrap;
}

p {
  display: inline;
  background-color: antiquewhite;
  padding: 10px 15px 10px 15px;
  line-height: 35px;
  white-space: normal;
}

ul {
  list-style: none;
  padding: 10px 0px 10px 0px;
}

img {
  float: left;
}

/* Topnav */

.topnav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  display: inline;
  padding: 15px 10px 15px 10px;
}
.topnav:hover, .topnav:active {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
li.topnav {
  display: inline;
}

nav {
  background-color: antiquewhite;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(10px)
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover li.options {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
.dropdown:active .dropdown-content {
  display: block;
}
.dropdown:active li.options {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}
.dropdown-content li {
  display: block;
  background-color: antiquewhite;
}
.dropdown-content ul {
  background-color: antiquewhite;
}

.topmargin {
  padding-top: 25px;
  padding-bottom: 0px;
}