body {
  background-color: lightblue;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 100%;
}

nav.wide {
  display: block;
}
nav.thin {
  display: none;
}

@media only screen and (max-width: 900px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
    font-size: 120%;
  }

  nav.wide {
    display: none;
  }
  nav.thin {
    display: block;
  }
}

/* Basics */

h1 {
  text-align: center;
  color: blue;
}
h1.maintitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  display: block;
  background-color: antiquewhite;
  padding: 10px;
}

/* Topnav */

.topnav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  display: inline;
  padding: 10px 10px 10px 10px;
}
.topnav:hover {
  text-decoration: underline;
  background-color: rgb(224, 214, 201);
}

nav {
  background-color: antiquewhite;
  text-align: center;
}

ul {
  list-style: none;
  padding: 10px;
}

li.topnav {
  display: inline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 5px;
  background-color: antiquewhite;
  z-index: 1;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li {
  display: block;
}
.options {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown:hover .options {
  background-color: rgb(224, 214, 201);
}